<html>
  <head>
    <title>nx-user-generated-objects</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="p-4">
    <main class="container mx-auto border p-8">
      <section class="my-4">
        <h2 class="text-lg mb-2" v-if="user">
          Anonymous User: <span class="text-sm">{{ user.uid }}</span>
        </h2>
        <div class="text-red-600 my-2" v-if="errorAuth">
          {{ errorAuth.message }}
        </div>
      </section>
      <section class="my-4">
        <h2 class="text-lg mb-2">Objects</h2>
        <span class="italic" v-if="!objects">no data</span>
        <table class="w-full text-xs" v-if="objects">
          <tr class="text-left border-b">
            <th>uid</th>
            <th>scene_id</th>
            <th>object_id</th>
            <th>user_id</th>
            <th>matrix</th>
            <th>actions</th>
          </tr>
          <tr v-for="(value,key) in objects">
            <td>{{key}}</td>
            <td>{{value.scene_id}}</td>
            <td>{{value.object_id}}</td>
            <td>{{value.user_id}}</td>
            <td><div class="truncate w-20">{{value.matrix}}</div></td>
            <td>
              <button class="underline" @click.prevent="deleteObject(key)">
                delete
              </button>
            </td>
          </tr>
        </table>
      </section>
      <section class="my-4">
        <form class="grid grid-cols-4 gap-2">
          <button
            type="submit"
            class="p-2 px-4 shadow rounded bg-blue-200"
            @click.prevent="createObject"
          >
            new object
          </button>
        </form>
      </section>
    </main>
    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.4/firebase.js"></script>
    <script>
      const firebaseConfig = {
        apiKey: "AIzaSyAiMqEr6SpjN61sLKFUd3NndRFXV7m_X70", // Auth / General Use
        appId: "1:837039980734:web:200f93d50c52a11a9cdeef", // General Use
        projectId: "nx-user-generated-objects", // General Use
        authDomain: "localhost", // Auth with popup/redirect
        databaseURL:
          "https://nx-user-generated-objects-default-rtdb.europe-west1.firebasedatabase.app/", // Realtime Database
      };
      const project = firebase.initializeApp(firebaseConfig);
      const database = firebase.database();
      const auth = firebase.auth();
      const refObjects = database.ref("/objects");
      new Vue({
        el: "main",
        data() {
          return {
            objects: null,
            user: null,
            errorAuth: null,
          };
        },
        created() {
          auth.signInAnonymously().catch((error) => {
            this.errorAuth = error;
          });
          auth.onAuthStateChanged((user) => {
            if (user) {
              this.user = user;
              // sign in
              refObjects.on("value", (snapshot) => {
                this.objects = snapshot.val();
              });
            } else {
              // sign out
            }
          });
        },
        methods: {
          deleteObject(key) {
            database.ref(`objects/${key}`).set(null);
          },
          createObject() {
            refObjects.push(
              {
                user_id: this.user.uid,
                scene_id: ["yee_land", "test"][Math.random() < 0.5 ? 0 : 1],
                object_id: ["yee_dog", "dami"][Math.random() < 0.5 ? 0 : 1],
                matrix: [
                  Math.random(),
                  Math.random(),
                  Math.random(),
                ].toString(),
                timestamp: Date.now(),
              },
              (error) => {
                if (error) {
                  console.log(error);
                }
              }
            );
          },
        },
      });
    </script>
  </body>
</html>
