<html>
  <head>
    <title>nx-user-generated-objects</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
  </head>
  <body class="p-4">
    <main class="container mx-auto border p-8">
      <section class="my-4">
        <h2 class="text-lg mb-2" v-if="user">Anonymous User: <span class="text-sm">{{ user.uid }}</span></h2>
      </section>
      <section class="my-4" v-if="user">
        <h2 class="text-lg mb-2">Current Scene: {{scene.current.value}}</h2>
        <div class="grid grid-cols-4 gap-2">
          <label v-for="sceneOption in scene.list">
            <input type="radio" name="scene" :value="sceneOption" v-model="scene.current.value" />
            {{sceneOption}}
          </label>
        </div>
      </section>
      <section class="my-4" v-if="scene.current.value">
        <h2 class="text-lg mb-2">Objects in {{scene.current.value}}</h2>
        <div class="italic">
          <template v-if="!userGeneratedObjects.list.value"> no data yet </template>
        </div>
        <table class="w-full text-xs" v-if="userGeneratedObjects.list.value">
          <tr class="text-left border-b">
            <th>uid</th>
            <th>matrix</th>
            <th>object_id</th>
            <th>user_id</th>
            <th>actions</th>
          </tr>
          <tr v-for="(value,key) in userGeneratedObjects.list.value">
            <td>{{key}}</td>
            <td><div class="truncate w-20">{{value.matrix}}</div></td>
            <td>{{ userGeneratedObjects.detail.value[key]?.object_id }}</td>
            <td>{{ userGeneratedObjects.detail.value[key]?.user_id }}</td>
            <td>
              <button class="underline mx-1" @click="userGeneratedObjects.toggleWatch(key)">
                <template v-if="userGeneratedObjects.watchList.value.indexOf(key) > -1">unwatch</template>
                <template v-else>watch</template>
              </button>
              <button class="underline mx-2" @click="userGeneratedObjects.delete(key)">delete</button>
            </td>
          </tr>
        </table>
      </section>
      <section class="my-4 border-t pt-4" v-if="scene.current.value">
        <form class="grid grid-cols-4 gap-2">
          <button type="button" class="p-2 px-4 shadow rounded bg-blue-200" @click="userGeneratedObjects.add">new object</button>
        </form>
      </section>
    </main>
    <!-- scripts -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.4/firebase.js"></script>
    <script src="./utils.js"></script>
    <script>
      const firebaseConfig = {
        apiKey: "AIzaSyAiMqEr6SpjN61sLKFUd3NndRFXV7m_X70", // Auth / General Use
        appId: "1:837039980734:web:200f93d50c52a11a9cdeef", // General Use
        projectId: "nx-user-generated-objects", // General Use
        authDomain: "localhost", // Auth with popup/redirect
        databaseURL: "https://nx-user-generated-objects-default-rtdb.europe-west1.firebasedatabase.app/", // Realtime Database
      };
      Vue.createApp({
        setup() {
          // Firebase
          const project = firebase.initializeApp(firebaseConfig);
          // User
          const auth = firebase.auth();
          const user = Vue.ref(null);
          Vue.onBeforeMount(() => {
            auth.signInAnonymously().catch((error) => {});
            auth.onAuthStateChanged((userData) => {
              if (userData) {
                user.value = userData;
              }
            });
          });
          // Scene
          const sceneList = ["yeeLand", "miLand", "stage1", "stage2"];
          const scene = {
            list: sceneList,
            current: Vue.ref("miLand"),
          };
          // Objects from db
          const userGeneratedObjectList = Vue.shallowRef({});
          const addressMatrix = useRefAddress("userGeneratedObjects", "matrix", scene.current);
          const addressDetail = useRefAddress("userGeneratedObjects", "detail", scene.current);
          const database = firebase.database();
          const dbDetailRef = useRefDatabaseRef(database, addressDetail);
          const dbMatrixRef = useRefDatabaseRef(database, addressMatrix, (snapshot) => {
            userGeneratedObjectList.value = snapshot.val();
          });
          //
          const userGeneratedObjectDetail = Vue.ref({});
          const watchList = Vue.ref([]);
          const onDetailData = (snapshot) => {
            userGeneratedObjectDetail.value[snapshot.key] = snapshot.val();
          };
          const watchingDBRefs = Vue.computed(() => Vue.unref(watchList).map((key) => Vue.unref(dbDetailRef).child(key)));
          Vue.watch(watchingDBRefs, (newDBRefs, oldDBRefs) => {
            newDBRefs.forEach((dbRef) => dbRef.on("value", onDetailData));
            oldDBRefs.forEach((dbRef) => dbRef.off("value", onDetailData));
          });
          //
          const userGeneratedObjects = {
            list: userGeneratedObjectList,
            watchList: watchList,
            detail: userGeneratedObjectDetail,
            add() {
              if (!Vue.unref(dbMatrixRef)) return;
              const { matrix, ...detail } = generateRandomObject({
                user_id: user.value.uid,
              });
              Vue.unref(dbDetailRef)
                .push(detail)
                .then(({ key }) =>
                  dbMatrixRef.value
                    .child(key)
                    .set({ matrix })
                    .then(() => key)
                )
                .then((key) => {
                  userGeneratedObjectDetail.value[key] = detail;
                });
            },
            toggleWatch(key) {
              const list = Vue.unref(watchList);
              const isWatching = list.indexOf(key) > -1;
              if (isWatching) {
                watchList.value = Vue.unref(watchList)
                  .map((v) => (v === key ? null : v))
                  .filter(Boolean);
              } else {
                watchList.value = [...list, key];
              }
            },
            delete(key) {
              [dbMatrixRef, dbDetailRef]
                .map(Vue.unref)
                .map((dbRef) => dbRef.child(key))
                .forEach((child) => child.remove());
            },
          };
          return {
            scene,
            user,
            userGeneratedObjects,
          };
        },
      }).mount("main");
    </script>
  </body>
</html>
